body {
    text-align: center;
    background-color: #f0e009;
}

h1 {
    font-size: 5rem;
    color: aqua;
    font-family: cursive;
    text-shadow: 4px 10  aqua;
}

h3 {
    font-size: 2rem;
    color: #DA0463;
    font-family: cursive;
    text-shadow: 3px 0 greenyellow;
}


.btn {
    border-radius: 15px;
    width: 160px;
    height: 160px;
    text-align: center;
    background-color: #DA0463;
    border: 10px solid #2bd809;
    margin: 10px;
    background-color: #fff;
    font-size: 5rem;
    font-family: 'Arvo', cursive;
    font-weight: 900;
    color: aquamarine;
    transition: background-color 0.3s, transform 0.3s;

}

.btn:hover {
    background-color: #f0f0f0;
    transform: scale(1.14);

}

.w {
    background-image: url("images/w.png");
}

.a {
    background-image: url("images/a.png");
}

.s {
    background-image: url("images/s.png");
}

.d {
    background-image: url("images/d.png");
}

.j {
    background-image: url("images/j.png");
}

.k {
    background-image: url("images/k.png");
}

.l {
    background-image: url("images/l.png");
}

.box {
    margin: 10% auto;
}

.animation {
    box-shadow: 0 3px 4px 0 aqua;
    opacity: 0.5;
}